<%
  textdomain "services-manager"
%>

<h2><%= _('Services Manager') %></h2>
<p><b><%= _('Default Target') %></b></p>
<ul><li><%= ERB::Util.html_escape(
  Yast::ServicesManagerTargetClass::BaseTargets.localize(
    Yast::ServicesManagerTarget.export
  )
) %></li></ul>

<% services = Yast::ServicesManagerService.export %>

<h2><%= _('Services') %></h2>
<p><b><%= _('Enabled') %></b></p>
<ul>
<% services.fetch("enable", []).each do |service| %>
  <li><%= ERB::Util.html_escape(service) %></li>
<% end %>
</ul>

<% unless services.fetch("on_demand", []).empty? %>
<p><b><%= _('On Demand') %></b></p>
<ul>
<% services.fetch("on_demand", []).each do |service| %>
  <li><%= ERB::Util.html_escape(service) %></li>
<% end %>
</ul>
<% end %>

<p><b><%= _('Disabled') %></b></p>
<ul>
<% services.fetch("disable", []).each do |service| %>
  <li><%= ERB::Util.html_escape(service) %></li>
<% end %>
</ul>
