<%
  textdomain "services-manager"
%>

<h2><%= _('Services Manager') %></h2>
<p><b><%= _('Default Target') %></b></p>
<p><%= ERB::Util.html_escape(ServicesManagerTarget.export) %></p>

<% services = ServicesManagerService.export %>

<h2><%= _('Services') %></h2>
<p><b><%= _('Enabled') %></b></p>
<ul>
<% services.fetch("enable", []).each do |service| %>
  <li><%= ERB::Util.html_escape(service) %></li>
<% end %>
</ul>

<p><b><%= _('Disabled') %></b></p>
<ul>
<% services.fetch("disable", []).each do |service| %>
  <li><%= ERB::Util.html_escape(service) %></li>
<% end %>
</ul>
